:root {
  --main-navigation-bar-height: 55px;
  --portato-blue: #1875bc;
  --portato-blue-25: rgba(24, 117, 188, 0.25);
  --progress-bar-margin: 15px;
  --color-black: #000000;
  --color-grey1: #888888;
  --color-grey2: #666666;
  --color-grey3: #d0d0d0;
  --color-grey4: #e8e9f1;
  --color-grey5: #F8F9FE;
  --color-white: #ffffff;
  --color-blue: #568bb3;
  --color-blue-light: #53b2f2;
  --color-blue-lighter: #b3f3ff;
  --color-sand: #FFF4E4;
  --color-ok: #adff9e;
  --color-warning: #ffe89e;
  --color-error: #ff9e9e;
  --spacing-small: 2vw;
  --spacing-regular: 5vw;
  --spacing-big: 10vw;
  --content-width-regular: 800px;
  --content-width-large: 1200px;
  --content-width-bleed: initial;
  --spacing-horizontal-small: 5px;
  --spacing-horizontal-regular: 15px;
  --spacing-horizontal-big: 25px;
  --spacing-vertical-small: 15px;
  --spacing-vertical-regular: 35px;
  --spacing-vertical-big: 55px;
  --transition-regular: all 0.3s ease-in-out 0s;
}

/* LAYOUT TWERKS -------------------------------------- */
*:first-child {
  margin-top: 0;
  margin-left: 0;
}
*:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

/* GENERAL ELEMENTS------------------------------------ */
html,
body {
  width: 100%;
  margin: 0;
  background-color: var(--color-white);

}
.section {
  width: 100%;
  max-width: var(--content-width-regular);
  margin: var(--spacing-vertical-regular) auto;
  padding: 0 var(--spacing-regular);
}
.section-large {
  max-width: var(--content-width-large);
}
.section-bleed {
  max-width: var(--content-width-bleed);
  padding: 0;
}

img,
.image {
  width: 100%;
  height: auto;
}

video,
.video {
  width: 100%;
  height: auto;
}
.video-wrapper {
  position: relative;
}

.video-button-play {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.video-button-play:before,
.video-button-play:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-width: 60px 100px;
  border-color: transparent transparent transparent var(--color-blue-lighter);
  transform: translateX(-20%) translateY(-50%);
  z-index: 3;
}
.video-button-play:after {
  transition: var(--transition-regular);
  top: calc(50% + 17px);
  left: calc(50% + 10px);
  border-color: transparent transparent transparent var(--color-blue-light);
  z-index: 2;
}
.video-button-play:hover:after {
  top: calc(50%);
  left: calc(50%);
}


.table {
  width:100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.th, .td {
  text-align: left;
  padding:10px 10px 10px;
  border-spacing: 0;
  border-collapse:collapse;
  border:none;
  vertical-align: top;
}

/* LISTINGS ------------------------------------------ */
.listing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.listing-vertical {
  flex-direction: column; 
}
.listing-2 > * {
  flex: 50%;
  min-width:200px;
  max-width:400px;
}
.listing-3 > * {
  flex: 33.33%;
  min-width:180px;
  max-width:400px;
}
.listing-boxes {
  margin-left:calc(-1 * var(--spacing-horizontal-regular));
  margin-right:calc(-1 * var(--spacing-horizontal-regular));
}
.listing-boxes > * {
  padding:var(--spacing-horizontal-regular);
}

.listing-border-style > * {
  margin:var(--spacing-horizontal-regular);
  border-style:solid;
  border-width:5px;
  border-color:var(--color-grey4);
  border-radius:0vw 2vw 2vw 2vw;
}
.listing-border-style > *:first-child {margin-top:0;}
.listing-border-style .listing-entry-header .image {
  margin-left:calc(-1 * var(--spacing-horizontal-regular));
  margin-top:calc(-1 * var(--spacing-horizontal-regular));
  width: calc(100% + 2 * var(--spacing-horizontal-regular));
  border-radius: 2vw 2vw 2vw 0vw;
}
.listing-background-style > * {
  padding:var(--spacing-horizontal-big);
  margin:var(--spacing-horizontal-regular);
  border-style:solid;
  border-width:5px;
  border-color:var(--color-grey5);
  border-radius:0vw 2vw 2vw 2vw;
  background:var(--color-grey5);
}
.listing .entry-filler {
  padding:0;
}


/* LOGO & SLOGAN ------------------------------------- */
.logo-slogan {
  font-family: 'Comfortaa';
  font-size: 5rem;
  color: var(--color-blue-light);
  margin-top: -80px;
  margin-bottom: 20px;
}
.logo-slogan:before {
  font-size: 7rem;
  position: relative;
  top: 10px;
  margin-left: -10px;
}


/* SPACERS ------------------------------------------- */
.spacer-tiny {
  margin-bottom: 10px;
}
.spacer-small {
  margin-bottom: 20px;
}
.spacer-regular {
  margin-bottom: 40px;
}
.spacer-big {
  margin-bottom: 60px;
}
.spacer-xxl {
  margin-bottom: 100px;
}


/* MODIFIERS ---------------------------------------- */
.mod-display-flex {
  display: flex;
}
.mod-display-block {
  display: block;
}
.mod-display-inline-block {
  display: inline-block;
}
.mod-flex-space-between {
  justify-content: space-between;
}
.mod-flex-wrap {
  flex-wrap: wrap;
}
.mod-nomargin {
  margin: 0;
}
.mod-nomargin-bottom {
  margin-bottom: 0;
}
.mod-nomargin-top {
  margin-top: 0;
}
.mod-nopadding {
  padding: 0;
}
.mod-text-align-right {
  text-align: right;
}
.mod-text-align-center {
  text-align: center;
}
.mod-hide-mobile {
  display:none!important;
}


/* STYLE MODIFIER ------------------------------------ */
.box-style-color {
  background: var(--color-blue-lighter);
  padding: var(--spacing-regular);
}
.box-style-color-2 {
  background:var(--color-blue-lightest);
  padding:var(--spacing-regular);
}
.box-style-grey {
  background:var(--color-grey5);
  padding:var(--spacing-regular);
}
.box-shadow {
  box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.1);
}
.box-shadow-effect:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05);
}
.box-radius-default {
  border-radius: 5px;
}
.box-radius-style-1 {
  border-radius: 0 7vw 7vw 7vw;
}
.box-radius-style-2 {
  border-radius: 2vw 2vw 0px 2vw;
}
.box-radius-style-3 {
  border-radius: 5vw 0vw 5vw 5vw;
}
.circle {
  border-radius: 50%;
}


/* TO BE CHECKED --------------------------------------- */
.main-page-split {

  background-color: #fff;
  padding-bottom:100px; 
}
