@font-face {
  font-family: 'Comfortaa';
  src: url('../Fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

:root {
  --main-navigation-bar-height: 55px;
  --portato-blue: #1875bc;
  --portato-blue-25: rgba(24, 117, 188, 0.25);
  --progress-bar-margin: 15px;
  --color-white: #FFFFFF;
  --color-blue: #1875bc;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--color-white);
}

.main-page-split {
  background-color: #FFF;
  padding-top: var(--main-navigation-bar-height);
}

.main-container-split {
  overflow: auto;
}

.main-navigation-bar-container {
  position: fixed;
  top: 0%;
  width: 100%;
  border-bottom: solid;
  border-bottom-color: #E8E9F1;
  background-color: #FFF;
  z-index: 1000;
  height: var(--main-navigation-bar-height);
}

.main-navigation-bar {
  width: 50vw;
  margin: auto;
}

.main-navigation-bar-element {
  flex-direction: row !important;
  gap: 5px;
}

.font-bold {
  font-weight: bold;
}

.font-comfortaa {
  font-family: 'Comfortaa', sans-serif;
}

.font-large {
  font-size: 20px;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.color-portato-blue {
  color: var(--portato-blue);
}

/* Mobile devices */
@media only screen and (max-width: 767px) {
  /* Switch the navigation bar to the bottom for mobile devices. */
  .main-page-split {
    padding-top: 0;
    padding-bottom: var(--main-navigation-bar-height);
  }
  
  .main-navigation-bar-container {
    top: auto;
    bottom: 0%;
    border-top: solid;
    border-top-color: #E8E9F1;
    border-bottom: none;
  }
  
  .main-navigation-bar {
    width: 100%;
  }
  
  .main-navigation-bar-element {
    flex-direction: column !important;
    gap: 0px;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

/* Desktops and laptops */
@media only screen and (min-width: 1024px) {

}
