.form-sender {
    margin-top: 0vh;
    height: '100vh';
    background-color: #fff;
    margin-left: 8vw;
    margin-bottom: calc(55px + 10vh + 2vh);
}

.deliver-overview-content-container {
    max-height: calc(100vh - 60px);
    overflow: auto;
}

/* TODO Mischa: Make progress bar fixed to screen and only scroll form content*/
.progress-bar-indicator {
    position: absolute;
    top: 2%;
    left: 10%;
    width: 80%;
    height: 10%;
}

.progress-bar-content-container {
    margin-top: 8vh;
    overflow-y: 'scroll';
}

.form-button-main {
    position: fixed;
    bottom: 55px;
    background: #fff;
    margin-bottom: 20px;
    z-index: 100;
}

.form-button-left {
    left: 10%;
    width: 30vw;
}

.form-button-right {
    right: 10vw;
    width: 45vw;
}

.form-button-container {
    position: fixed;
    width: 100%;
    bottom: 55px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0)) 100%;
    height: 100px;
    z-index: 99;
}
