@font-face {
    font-family: 'portato icon font';
    src: url('../Fonts/portatoiconfont-regular.woff2') format('woff2'),
        url('../Fonts/portatoiconfont-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lexend';
    src: url('../Fonts/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: 'Lexend', sans-serif;
    font-size:62.5%; /* This trick is used to downsize the default browser size to 10px and make the REM unit more readable */
    color: var(--color-black);
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lexend';
}

h1 { font-size: 3.6rem; margin: 30px 0; line-height: 1.6;} /* 3.6rem = 36px */
h2 { font-size: 2.8rem; margin: 20px 0; line-height: 1.4;} /* 2.8rem = 28px */
h3 { font-size: 2.2rem; margin: 15px 0;}
h4 { font-size: 2rem; margin: 10px 0 10px 0;}
h5 { font-size: 2rem; margin: 10px 0 10px 0; font-family: 'Lexend'; font-weight: 400;}

p,a {font-size:1.8rem; line-height: 1.4}
.text-hint {font-size:1.3rem;}
.section-form label { font-family: 'Lexend'; font-size: 1.8rem!important;} /*sorry for this one, but it was the easiest for today */

.button {font-family: 'Lexend'; font-size:1.8rem;}

.font-bold {
  font-weight: bold;
}

.font-large {
  font-size: 20px;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}