.icon:before {
	font-family: 'portato icon font';
	font-size:1.8rem;
	margin-right:10px;
	font-style: normal;
}

.icon-small:before {
	font-size:0.7rem;
}
.icon-big:before {
	font-size:2.4rem;
}

.icon-home:before {
	content: 'h';
}
.icon-send:before {
	content: 'A';
}
.icon-drive:before {
	content: 'S';
}
.icon-profile:before {
	content: 'u';
}
.icon-logo:before {
	content: 'o';
}
.icon-plus:before {
	content: 'N';
}
.icon-bin:before {
	content: 'Y';
}
.icon-help:before {
	content: 'K';
}
.icon-bell:before {
	content: 'B';
}
.icon-pen:before {
	content: 'H';
}

