.logo-page {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; /* Set background color to white */
}

.center-container {
  text-align: center;
}

.app-logo {
  max-width: 100%;
  height: auto;
}
