/* Big mobiles */
@media only screen and (min-width: 450px){
  .main-navigation-bar .adm-tab-bar-item-title-with-icon {
    display:inline-block;
  }
  .mod-hide-mobile {
    display:inherit!important;
  }

  .table { display:table; }
  .table tr { display: table-row; }
  .table tr .th, .table tr .td { display: table-cell; }
  .table tr .th {
    width:200px;
  }
  .table tr .th, .table tr .td {
    margin:0;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:1px solid var(--color-grey3);
  }
  .table tr:last-child .th, .table tr:last-child .td {
    border-bottom-width:0;
  }

  .card-actions .icon::before {
    margin-right:10px;
  } 
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}


.crisp-bubble-placeholder {
  display: flex !important;
}
/* Desktops and laptops */
@media only screen and (min-width: 1024px) {
  .crisp-bubble-placeholder {
    display: none !important;  /* Hiding the placeholder when the screen is wide enough */
  }
}


