/* Big mobiles */
@media only screen and (min-width: 450px){
  .main-navigation-bar .adm-tab-bar-item-title-with-icon {
    display:inline-block;
  }
  .mod-hide-mobile {
    display:inherit!important;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

/* Desktops and laptops */
@media only screen and (min-width: 1024px) {
  /*
  .main-navigation-bar-container {
    bottom: auto;
    top:-3px;
  }
  */
}


