.main-navigation-bar-container {
	position:fixed;
	bottom:-3px;
	left:;
	width: 100%;
	border-width:3px 0;
	border-style:solid;
	border-color:var(--color-grey4);
	background:var(--color-white);
	z-index:11;
}

.main-navigation-bar .adm-tab-bar-item {
	min-height:60px;
	flex-direction: row;
}

.adm-tab-bar-item-active{
	color: var(--portato-green) !important;
}

.main-navigation-bar .adm-tab-bar-item-title-with-icon {
	font-size:1.4rem;
	display:none;
}

.main-navigation-bar .icon-drive:before {
	font-size:3.4rem;
	position:relative;
	top:-3px;
}