.send-request-card .send-request-card-header {
    position: relative;
    padding-bottom:10px;
    margin-bottom:10px;
}

.send-request-card-content th, 
.send-request-card-content td {
    padding-left:0;
    border-bottom:1px solid var(--color-grey3);
    
}
.send-request-card-content tr:last-child th, 
.send-request-card-content tr:last-child td {
    border-bottom: none;
}