.send-request-card .send-request-card-header {
    padding-bottom:10px;
    margin-bottom:10px;
}

.send-request-card-content th, 
.send-request-card-content td {
    
    /* border-bottom:1px solid var(--color-grey3); */
    
}
.send-request-card-content tr:last-child th, 
.send-request-card-content tr:last-child td {
    border-bottom: none;
}

.card-actions {
    position:relative;
    top:-3px;
    right:-5px;
    display: flex;
    flex-direction: row-reverse;

}
.card-actions > div {
    margin-left:15px;
}
.card-actions button {
    padding:0;
    color:var(--color-grey2);

}
