.SwitchContainer {
  display: flex;
  background-color: #d4d6dd;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  width: 250px;
  height: 50px;
}

.ToggleItem {
  height: 40px;
  width: 100px;
  display: flex;
  border-radius: 35px;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  cursor: pointer;
}

.Text {
  color: black;
  font-size: 14px;
}

.background {
  position: absolute;
  top: 10vh;
}

body {
  margin: 0;
}
