.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-layout {
  height: '100vh';
  background-color: #fff;
}
.form-sender {
  margin-top: 0vh;
  height: '100vh';
  background-color: #fff;
  margin-left: 8vw;
}
.form-no-scrolling-sender {
  margin-top: 10vh;
  height: '100vh';
  background-color: #fff;
  margin-left: 8vw;
}

.item-form-label {
  font-weight: bold;
}

@media (max-width: 576px) {
  .ant-picker-panels {
    flex-direction: column;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 400px) {
  .HeaderMenu {
    display: none;
  }
  .ant-picker-panels {
    flex-direction: column !important;
  }
}
@media (min-width: 400px) {
  .HeaderButton {
    display: none;
  }
}
