.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-radio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-radio input[type='radio'] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.radio-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Adjust the size of the circle */
  height: 40px; /* Adjust the size of the circle */
  border-radius: 50%;
  background-color: #e8e8e8; /* Change the background color of the circle */
  margin-bottom: 4px; /* Adjust the spacing between the circle and label */
}

.radio-icon svg {
  display: none;
}

.radio-label {
  font-size: 14px; /* Adjust the font size of the label */
}
/* .custom-tab-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh; 
  background-color: #ffffff;
  border-top: solid;
  border-top-color: #e8e9f1;
} */

.main-layout {
  height: '100vh';
  background-color: #fff;
}
.form-sender {
  margin-top: 0vh;
  height: '100vh';
  background-color: #fff;
  margin-left: 8vw;
}
.form-no-scrolling-sender {
  margin-top: 10vh;
  height: '100vh';
  background-color: #fff;
  margin-left: 8vw;
}

.item-form-label {
  font-weight: bold;
}

.contentContainer {
  max-height: calc(100vh - 60px);
  overflow: auto;
}


@media (max-width: 576px) {
  .ant-picker-panels {
    flex-direction: column;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 400px) {
  .HeaderMenu {
    display: none;
  }
  .ant-picker-panels {
    flex-direction: column !important;
  }
}
@media (min-width: 400px) {
  .HeaderButton {
    display: none;
  }
}
